# LLM API Keys
GROQ_API_KEY=
OPENAI_API_KEY=

# LLM Parameters
LLM_MODEL=<different-model-from-default-config>

# Postgres DB connection
DATABASE_URL=<your-db-connection-string>

# Frontend
FRONTEND_BASE_URL=http://localhost:3000